<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Catalog</title>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css"
          integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="navbar-brand" href="/">HOME</a>
            </li>
            <li class="nav-item">
                <a class="navbar-brand" href="/catalog">Catalog</a>
            </li>
            <li class="nav-item">
                <a class="navbar-brand" href="/create_product">Add new product</a>
            </li>
            <li class="nav-item">
                <form action="/search" method="get">
                    <label for="search">
                        <input class="form-control" id="search" type="text" name="search"
                               placeholder="Enter a product name">
                    </label>
                    <button type="submit" class="btn btn-light mb-1">Search</button>
                </form>
            </li>
        </ul>
    </div>
</nav>
<div>
    <h2>Categories</h2>
</div>
<tr th:each="category:${categories}">
    <div class="list-group">
        <div class="btn-group btn-group-toggle" data-toggle="buttons">
                <a th:href="@{/catalog/category/{id}/(id=${category.id})}" class="list-group-item list-group-item-action"
                   th:text="${category.name}"></a>
            <label class="btn btn-light active">
                <a th:href="@{/edit_category/{id}/(id=${category.id})}" class="btn btn-outline-dark">Edit category</a>
            </label>
            <label class="btn btn-light active">
                <form action="/delete_category" method="post">
                    <input type="hidden" name="id" th:value="${category.id}">
                    <button type="submit" class="btn btn-outline-dark">Delete category</button>
                </form>
            </label>
        </div>
    </div>
</tr>
<p></p>
<div><a href="/create_category" class="btn btn-outline-dark">Add new category</a></div>
</body>
</html>